<html>
    <body>
        <form action="/operation" method="POST">
        <select id="operation" name="operation">
            <option value="addition">addition</option>
            <option value="substraction">substraction</option>
            <option value="multiplication">multiplication</option>
            <option value="division">division</option>
        </select>

        <input type="text" name="num1" id="num1">
        <input type="text" name="num2" id="num2">
        <input type="submit" value="Calculate">
        </form>
    </body>
</html>